*{
  font-family: 'Inter', sans-serif;
}

.home{
  background-color: #F4F5F7;
  box-sizing: border-box;
  padding: 50px 0;
}

.inner{
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.home__profile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home__profile img{
  width: 88px;
  height: 88px;
}

.home__profile h3{
  font-size: 20px;
  color: #101828;
}

.home__profile_slack{
  display: none;
}

.home__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home__links_container{
  background-color: #EAECF0;
  padding: 24px 32px;
  /* max-width: 1152px; */
  width: 80%;
  text-align: center;
  margin: 10px 0;
  gap: 8px;
  border: 1px solid #EAECF0;
  border-radius: 8px;
}

.home__links a{
  color: #101828;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  font-style: normal;
}

.home__socials{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 30px;
  padding: 24px 0;
}

footer{
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 48px 0;
}

footer img:nth-child(1){
  width: 185px;
  height: 24px;
}

footer p{
  color: #667085;
  font-size: 16px;
}

footer img:last-child{
  width: 132px;
  height: 32px;
}

@media only screen and (max-width: 500px) {
  footer{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  footer img:nth-child(1){
    width: 132px;
    height: 18px;
  }

  footer img:last-child{
    width: 99px;
    height: 24px;
  }
}